html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/login.css")
        title Informe 
    body
        nav(class="navbar navbar-expand-lg navbar-light bg-light")
            img(src="/images/Logotipo_UCA.png" width="225" height="125")
            div(class="navtitle")
                h1(class="navtitle-text")='Sistema de Reservas Edificio Jon Cortina'      
        form(method='POST' action='/?')
          div(class='form-group text-center')
            label(for='fecha_inicio') Fecha Inicio:
            input(type='date', class='form-control' name='fecha_inicio')
          div(class='form-group text-center')
            label(for='fecha_final') Fecha Final:
            input(type='date', class='form-control' name='fecha_final')
          div(class='form-group text-center')
            label(for='favoriteBook') Agrupación:
            input(type='text', class='form-control' placeholder='Nombre agrupación' name='agrupacion')
          div(class='form-group text-center')
            label(for='sala') Sala:
            input(type='text' class='form-control' name='Sala')
          div(class='form-group text-center')
            label(for='descripción2') Descripción:
            input(type='text' class='form-control' name='descripción')
          div(class='form-group text-center')
            label(for='creadapor') Creada por: 
            input(type='text' class='form-control' name='creadapor') 
          div(class='form-group text-center')
            label(for='Estado') Estado:
            select(class='form_group' name='Estado')
              option(value='1') Desconocido
              option(value='2') Aceptado
              option(value='3') En espera
              option(value='4') rechazado
          div(class='form-group text-center')
            label(for='Software') Software necesitado: 
            input(type='text' class='form-control' name='Software') 
          div(class='form-group text-center')
            label(for='Personas') Número de Personas: 
            input(type='number' class='form-control' name='Personas') 
          div(class='form-group text-center')
            label(for='Responsable') Responsable(facilitador o catedrático): 
            input(type='text' class='form-control' name='Responsable')           
          button.btn.btn-primary(type='submit' class='text-center') Solicitar